* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;


}



img{
    display: block;
    max-width: 100%;
}

p{
    overflow-wrap: break-word;
    width: 100%;
}



div
    div
        img
    div
    div
        img
    div
div
br
