
nav.nav-links{
max-width: 100%;
}


.nav-links{
    display: flex;
    position: absolute;
    right: 10px;
    list-style: none;
    gap: 10px;
    font-size: 12px;
}
.foot{
    height: 20dvh;
}
.pic{
    margin: 10px;
}
img{
 width: 1100px;
}
row .hero{
    flex: 1 0 0;

}

.row.para{
    justify-content: start;
}

@media screen and (max-width: 750px) {
    .head {
        flex-direction: column;

    }
    body{
        max-width: 100%;
    }

    .hero {
        position: relative;
        left: 5%;
        font-size: 50px;
        text-align: center;
    }

    .nav-links {
        position: unset;
        flex-direction: column;
        align-items: center;
    }

    .nav-links {
        background-color: #c2c2c2;
        display: block;
        border-radius: 10px;


    }
    .a{
        gap: 10px;
    }

    .para {
        flex-direction: column;
    }

    .para1 {
        order: 1;
        flex-direction: row;
        font-size: 20px;
        text-align: center;
text-align: center;
        max-width: 90%;
    }

    .para2 {
        margin-top: 30px;
        order: 2;
        flex-direction: row;
        font-size: 20px;
        text-align: center;

    }


    .ancho {
        margin: 10px;
        background-color: lightblue;
        padding: 10px 80px;
        border: unset;
        border-style: dot-dash;
        border: 10px;
    }
}

.container#test .row{
    min-height: 300px;
    background-color: peachpuff

;
}
