/**{*/
/*    background-color: white;*/
/*}*/



@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

body{font-family: 'Cedarville Cursive', cursive;

}





    body{
        color: red;
    }


    h1{
        text-align: center;
        color: blue;
        text-decoration: underline;
    }

    img{
        width: 500px;
        aspect-ratio: 1/1;
object-fit: cover;
        max-width: 100%;
        padding: 0;
        margin: 0;
        display: block;
    }

    body {
        background-image: url("/img/cool-gray-61nfwad1bullevu4.jpg");
background-size: cover;
        background-position: center;
    }

    ul.mylist{
        list-style-type: square;
    }
tr{
    padding: 0;
    font-size: 50px;
}

table{
    padding: 0;
    font-size: 50px;
}

td{
    padding: 0;
    font-size: 50px;
}

a{
    color: green;
    font-size: 6px;
}
a:hover{
    color: #7124b7;
}

img